# environment variables
.env

# virtual environments
venv/
*_venv/
venv_*/

# mypy cache
.mypy_cache/

# pycache
__pycache__/

# ruff cache
.ruff_cache/

# files
.csv
.png
.jpeg
.jpg

# jupyter notebook checkpoints
.ipynb_checkpoints/

# logs
*.log

# coverage reports
.coverage
.coverage.*
htmlcov/
coverage.xml

# pytest cache
.pytest_cache/

# egg files
*.egg
*.egg-info
